backcall==0.1.0
beautifulsoup4==4.6.0
bokeh==0.13.0
cachetools==2.1.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
cycler==0.10.0
cymem==1.31.2
cytoolz==0.8.2
decorator==4.3.0
dill==0.2.7.1
Django==2.0.6
docutils==0.14
entrypoints==0.2.3
Flask==1.0.2
html5lib==1.0.1
idna==2.7
image==1.5.24
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
lxml==4.2.1
MarkupSafe==1.0
matplotlib==2.2.2
mistune==0.8.3
networkx==2.1
nltk==3.3
numpy==1.14.5
pandas==0.23.1
pandocfilters==1.4.2
pickleshare==0.7.4
Pillow==5.1.0
plac==0.9.6
plotly==2.7.0
preshed==1.0.0
prompt-toolkit==1.0.15
protobuf==3.6.0
ptyprocess==0.5.2
pyasn1==0.4.3
pyasn1-modules==0.2.2
Pygments==2.2.0
pyparsing==2.2.0
pyproj==1.9.5.1
pyshp==1.2.12
python-dateutil==2.7.3
pytz==2018.4
PyYAML==4.1
pyzmq==17.0.0
regex==2017.4.5
requests==2.19.1
requests-futures==0.9.7
rsa==3.4.2
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.1.0
seaborn==0.8.1
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
spacy==2.0.11
statsmodels==0.9.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
thinc==6.10.2
toolz==0.9.0
tornado==5.0.2
tqdm==4.23.4
traitlets==4.3.2
ujson==1.35
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
wrapt==1.10.11
