{% extends "layout.html" %}

{% block main %}
<div class="container">
    <div style="background:transparent !important" class="jumbotron">
        <h1 class="display-4">Bet smarter, with <b><span style="color:#38a553">Bet</span><span style="color:#3a64a8">Smart</span></b></h1>
        <p class="lead">Get informed using data driven betting behavior and put more money in your pocket.</p>
        <hr class="my-4">
        <p>Will the Lakers cover the spread tonight? More importantly, should I bet on it? <b><span style="color:#38a553">Bet</span><span style="color:#3a64a8">Smart</span></b>'s' machine learning algorithms will give you more insight into how to bet intelligently on NBA games.</p>
    </div>
    
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{url_for('static', filename='js/about.js')}}"></script>
{% endblock %}