<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        
        <link rel="stylesheet" href="{{url_for('static', filename='css/loader.css')}}" type="text/css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" type="text/css">
        
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" type="text/css">
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        
        <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        
        <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">NBA Stats</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/team-stats/">Stats </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="row align-items-center">
                <div class="col-sm align-self-center text-center">
                    <h1 style="margin:30px">How long should the NBA season be?</h1>
                    <p>Many NBA fans commonly lament that the NBA season, which currently consists of 82 games, is “too long”. This results in games in the middle of the season that are largely considered “unwatchable” due to a lack of effort from the players because of a perceived lack of importance for the game. It is commonly believed that by shrinking the NBA season, each game will carry more importance for playoff seeding (ultimately what teams are interested in), and decrease the probability of injury due to fatigue.</p>
                    <p>Another way to ask this question is “How many NBA games are required to gain enough information to accurately predict, within a certain precision, the same results that would be obtained from a full length season?”. Answering this can help inform how many games would be needed to yield on average roughly the same results that would be obtained if an entire season was played. This simplification completely ignores the fact that the NBA is a business and would lose money if the season was shortened. However, it is an interesting question to study.</p>
                    <p>Originally adapted for use in basketball by Daryl Morey (the current GM of the Houston Rockets), the pythagorean expectation (PYE) is a formula used to predict the probability a team will win a game from the average points scored (PTS), and average points scored against (PTS_A). The formula can be represented as $$PYE = \frac{(PTS)^{13.91}}{(PTS)^{13.91}+(PTS\_A)^{13.91}}.$$</p>
                    <p>The game logs for all NBA games from 1983-2017 is available through the NBA’s publicly accessible stats API (https://stats.nba.com/stats/leaguegamefinder). These logs were aggregated and used to determine the viability of pythagorean expectation to accurately predict games won in Figure 1. This shows the error in the pythagorean expectation for an entire season, or in other words the absolute value of 82*PYE for each team minus the actual number of games the team won that year. On average, this plot shows the pythagorean expectation is accurate to within 2.5 \(\pm\) 1.8 games after 82 games.</p>
                    <div id="chart-div-1"></div>
                    <p>Figure 2 then looks at after N games how well does pythagorean expectation predict what would happen if the remainder of the season was played. This analysis takes into account the number of games a team has already won after N games, and then predicts the number of games the team would win out of their remaining games based on pythagorean expectation using PTS and PTS_A averages up to that point in the season. The value shown on the y-axis of Figure 2 is the absolute value of the difference between the actual number of games won after 82 games and the pythagorean expectation prediction after N games.</p>
                    <div id="chart-div-2"></div>
                    <p>Informed by these statistics, one answer to “How long should an NBA season be?”, can be found by identifying the number of games N after which the projected error in PYE is less than 2.5. Using results from 35 NBA seasons, this analysis using pythagorean expectation concludes the minimum appropriate length of an NBA season is 54 games.</p>
                </div>
            </div>
        </div>
        <footer class="footer">
          <div class="container text-center" style="background-color: #f5f5f5;">
            <small class="text-muted">Copyright MEF 2018</small>
          </div>
        </footer>
    </body>
    <script type="text/javascript" src="{{url_for('static', filename='js/home.js')}}"></script>
</html>