<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        
        <link rel="stylesheet" href="{{url_for('static', filename='css/loader.css')}}" type="text/css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" type="text/css">
        
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" type="text/css">
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        
        <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">NBA Stats</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/team-stats/">Stats <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
            <form id="change-year" class="row justify-content-md-center" style="margin-top: 10px">
                <div class="form-group col-sm-4 align-self-center text-center">
                    <a class="btn btn-light" id="prev-year">&lt;</a> Select year: <a class="btn btn-light" id="next-year">&gt;</a>
                    <select id="year" class="form-control" style="margin: 10px">
                    </select>
                </div>
                    
                <div id="statistic-div" class="form-group col-sm-4 align-self-center text-center" style="display: none">
                    <a class="btn btn-light" id="prev-stat">&lt;</a> Select statistic: <a class="btn btn-light" id="next-stat">&gt;</a>
                    <select id="statistic" class="form-control" style="margin: 10px">
                    </select>
                </div>
            </form>
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a id="table-tab" data-toggle="tab" class="nav-link active" href="#table" role="tab" aria-controls="table" aria-selected="true">Table</a>
                </li>
                <li class="nav-item">
                    <a id="graph-tab" data-toggle="tab" class="nav-link" href="#graph" role="tab" aria-controls="graph" aria-selected="false">Graph</a>
                </li>
            </ul>
            <div class="row align-items-center">
                <div class="col-sm align-self-center text-center">
                    <div id="loader-table" class="loader"></div>
                    <div class="tab-content" style="margin: 15px">
                        <div id="table" class="tab-pane show active">
                            <table id="stats" class="display">
                                <thead>
                                    <th>Team</th>
                                    <th>Wins</th>
                                    <th>PTS</th>
                                    <th>PTS_A</th>
                                    <th>FGM</th>
                                    <th>FGA</th>
                                    <th>FG_PCT</th>
                                    <th>FG2M</th>
                                    <th>FG2A</th>
                                    <th>FG2_PCT</th>
                                    <th>FG3M</th>
                                    <th>FG3A</th>
                                    <th>FG3_PCT</th>
                                    <th>FTM</th>
                                    <th>FTA</th>
                                    <th>FT_PCT</th>
                                    <th>OREB</th>
                                    <th>DREB</th>
                                    <th>REB</th>
                                    <th>AST</th>
                                    <th>STL</th>
                                    <th>BLK</th>
                                    <th>TOV</th>
                                    <th>PF</th>
                                    <th>PLUS_MINUS</th>
                                </thead>
                            </table>
                        </div>
                        <div id="graph" class="tab-pane">
                            <div id="chart-div"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="{{url_for('static', filename='js/team-stats.js')}}"></script>
</html>